<div class="jumbotron">

  <h1 class = "font-weight-bold"><%= @pet.name.capitalize %></h1>

  <h6 class = "text-muted">Species: <%= @pet.species %></h3>

  <p class = "font-weight-light text-muted">Found on <%= @pet.found_on %> near <%= @pet.address %></p>

  <%= link_to 'Go back home', root_path, class: "btn btn-primary"%>
</div>



